.expanded .sugar {
  width: 716px;
}

.expanded .sugar .arrow {
  left: 68%;
}

.expanded .search-input {
  background-color: rgba(255, 255, 255, 0.23);
  border: 0;
}

.expanded .calendar,
.expanded .body,
.expanded .weather-box
{
  display: none;
}

