/* sites-tab.css begin */
.menus {
  height: 35px;
  margin: 0 21%;
  -webkit-user-select: none;
}
.menus .first {
  /*width: 113px;*/
  background-color: #F9F9F9;
  /*border-left: 3px solid #7CB6F0;*/
}
.menus .menu {
  float: left;
  width: 15%;
  line-height: 35px;
  text-align: center;
  border-right: 1px solid #C7C7C7;
  cursor: pointer;
}
.menus .menu {
  background-color: #F1F1F1;
}
.menus .menu:not(.active):hover {
  color: #f00;
}

.menus .active {
  background-color: #7CB6F0;
  cursor: default;
}

.menus .home-icon {
  background: url('../images/common/home-16.png') no-repeat;
}
.menus .video-icon {
  background: url('../images/common/video-16.png') no-repeat;
}
.menus .news-icon {
  background: url('../images/common/news-24.png') no-repeat;
}
.menus .icon {
  /*background-position: 13px;*/
  display: inline-block;
}
.tabs > div{
  display: none;
}
.tabs .cur {
  display: block;
}
/* video-tab.css begin */
.card_ob {
  position: relative;
  zoom: 1;
  text-align: left;
}
.card_ob .ps-container .list a:hover, 
.card_ob .ps-container .first a:hover {
  /*color: #FF7979;*/
  /*color: #FF7800;*/
}
.card_ob .ps-container .list:hover {
  background: #4D4D4D;
}
.card_ob .ps-container {
  border: 3px solid #7CB6F0;
  width: 763px;
  /*height: 440px;*/
  position: absolute;
  left: 21%;
  top: 0px;
  border-radius: 0 5px 0;
  /*background: rgba(51, 51, 51, 0.8);*/
  background-color: rgba(17, 117, 109, 0.9);/*rgba(255, 255, 255, 0.85);*/
}
/*
.card_ob .ps-container:hover {
  border-color: #00E0FF;
}*/
.card_ob dd {
  padding-bottom: 5px;
  overflow: hidden;
  position: relative;
  /*z-index: 0;*/
  height: auto; /*216px*/
}
.card_ob li.first {
  height: 100px;
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  /*display: inline-block;
  margin-bottom: 12px;*/
}
.card_ob .others1 {
  font-size: 12px;
  position: relative;
}
.card_ob .first .play {
  width: 80px;
  height: 28px;
  text-align: center;
  color: #FFF;
  line-height: 28px;
  font-weight: bold;
  border-radius: 2px;
  display: block;
  position: absolute;
  left: 130px;
  top: 80px;
  z-index: 1;
}
.card_ob .play:hover {
  background: #FF4700;
}

.orange-color {
  background: #FF7800; /* 56C969 */
}

.card_ob .list .play {
  color: #FFF;
  font-weight: bold;
  border-radius: 2px;
  position: relative;
  top: -11px;
  padding: 5px 16px;
  /*display:none;*/
  opacity: 0;
}

.card_ob .area {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.card_ob .others1 img {
  width: 100px;
  /*height: 100px;*/
  float: left;
}
.card_ob .others1 .con {
  width: 450px;
  float: left;
  margin-left: 15px;
}
.card_ob .others1 .con h4 {
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  padding-bottom: 5px;
}
.card_ob .others1 p {
  color: #BBB;
  line-height: 37px;
}
.card_ob .others1 p strong {
  color: #FFF;
}
.card_ob li.list {
  height: 32px;
  overflow: hidden;
  font-size: 12px;
}
.card_ob li.list a {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  color: #FFF;
}
.card_ob .list .title {
  width: 200px;
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card_ob .list .info {
  display: inline-block;
  padding-left: 258px;
  color: #BBB;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
}
.card_ob .list .info strong {
  color: #FFF;
  font-weight: normal;
}
.card_ob .no-info {
  color: #FFF;
  /*font-size: 24px;
  line-height: 450px;
  margin: auto 300px;*/
  font-size: 12px;
  margin: 10px 20px;
}

.card_ob .no-video {
  display: none;
}
/* 增加下方视频展开收起功能 begin */
.video-unfold {
  color: #FFF;
  font-size: 14px;
  text-align: center;
  line-height: 2;
  border-radius: 3px;
  margin: 2% auto 1% auto;
  cursor: pointer;
  box-shadow: 2px 2px 5px 0 #333;
  border: 3px solid #FF7800;
  width: 25%;
}
.video-unfold:hover {
  background: #FF7800;
}
/* 增加下方视频展开收起功能 end */
/* 增加旋转效果 begin */
/*.rotate {
  position: relative;
}
.card_ob .refresh:hover .rotate {
  animation: mymove 1s linear alternate infinite;
  -webkit-animation: myrotate 3s 1s linear infinite;
  -moz-animation: myrotate 3s 1s linear infinite;
}
@-webkit-keyframes mymove {
  from { left: -30px; -webkit-transform: rotate(0deg);}
  to { left: 40px; -webkit-transform: rotate(360deg);}
}
@keyframes myrotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@-webkit-keyframes myrotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes myrotate {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}*/
/* 增加旋转效果 end */
.card_ob .refresh {
  color: #fff;
  position: absolute;
  top: 60px;
  right: 96px;
  padding: 3px;
  z-index: 1;
  width: 80px;
  text-align: center;
  border-radius: 3px;
  line-height: 1.5;
  border: 2px solid #FF7800;
}
.card_ob .refresh:hover {
  /*text-decoration: underline;*/
  background: #FF7800;
}
/* video-tab.css end */

/* news-tab.css end */
.news {
  border: 3px solid #7CB6F0;
  width: 763px;
  position: absolute;
  left: 21%;
  border-radius: 0 5px 0;
  background-color: #EEE;
}
.news:hover {
  border-color: #00E0FF;
}
.news .unread { 
  cursor:pointer;
}
.news .a {
  background: #FFFEF5;
  border: 1px dashed #F0CF4F;
  color: #F48C12;
  display: block;
  height: 22px;
  line-height: 22px;
  margin: 1px 1px;
  text-align: center;
  font-size: 14px;
}
.news .a:hover {
  color: #333;
  border-color: #FF0014;
}
/* news-tab.css end */
/*.news .pic .article-title, 
.news .pic .brief {
  float: left;
  width: 511px;
}*/
.news .pic .brief {
  width: 511px;
}
.news .article .img-box {
  position: absolute;
  top: 0px;
  right: 0;
  border-radius: .25em;
  margin: 11px;
  height: 110px;
  overflow: hidden;
  background-color: #9B9B9B; /* AAA */
}
.news .pic:after, 
.news .pic3:after {
  clear: both;
  content: '';
  display: block;
}
.article-title {
  font-size: 18px;
  width: 511px;
}
.article-title-link:hover {
  border-bottom: 2px solid #2A46B8;
}
.article-title-link:hover:after {
  content: '...';
}
.news .article .del {
  width: 24px;
  height: 24px;
  background: url(../images/common/man-trash-bin-24.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  right: 190px;
  top: 10px;
  opacity: 0.5;
}
.news .article .del:hover {
  opacity: 1;
}
.news .article .done {
  font-size: 12px;
  margin-right: 10px;
  color: #f00;
}
.news .article .done i {
  margin-right: 4px;
}
.news .article {
  border: 1px solid #BEBEBE;
  background: url('../images/background/lattice.gif') #FFF;
  /*margin: 0 1px 2px 1px;*/
  padding: 10px 25px 10px 20px;
  position: relative;
  overflow: hidden;
}
.news .article.pic {
  height: 110px;
}

.news .article:hover {
  border-color: #333;
  /*box-shadow: 0 0 6px 1px #CCC;*/
}
.news .article img {
  width: 160px;
}
.news .article .brief {
  color: #444;
  padding-top: 5px;
  line-height: 20px;
  zoom: 1;
  font-size: 14px;
}
.news .article:hover .brief{
  color: #000;
}
.news .read .brief {
  color: #999;
}
/* sites-tab.css end */
/* to-top.css begin */
.scroll-items {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 60px;
  height: 50px;
  display: none;
}
.scroll-items .baseToTop {
  display: block;
  width: 45px;
  height: 40px;
  border-radius: 3px;
  background: rgba(0,0,0,.6) url(../images/common/icon-top.png) center no-repeat;
  
}
.scroll-items .baseToTop:hover {
  background-color: rgba(0,0,0,.7)
}
.scroll-items .top-notice {
  font-size: 12px;
  line-height: 24px;
  color: #555;
}
.scroll-items:hover .top-notice {
  color: #000;
}
/* to-top.css end */
/* video-bottom.css begin */
.video-bottom {
  /*padding-top: 8px;*/
}

.video-bottom, .video-bottom a{
  font-size: 14px;
  color: #FFF;
}
.video-li {
  /*float: left;*/
  display: inline-block;
  height: 140px;
  padding: 2px 2px 50px 2px;
  margin: 10px;
  position: relative;
  border-radius: 3px;
  border: 2px solid #ccc; /* FF7800: 橘黄色来自腾讯; #F06000 橘黄色来自芒果tv*/
}
.video-li:hover {
  border: 2px solid #FF7800; /* FF7800: 橘黄色来自腾讯; */
  background-color: #FF7800;
}/*
.video-li:hover .ellipsis a {
  color: #FF7800;
}
.video-li:hover .banner {
  background-color: #FF7800;
}*/
/*.video-li:hover .video-img {
  border: 1px solid #FF7800;
  position: absolute;
  top: 20px;
  left: 20px;
  width: auto;
  height: auto;
}*/
.video-img {
  /*border: 1px solid #ccc;
  border-radius: 3px;*/
}
.video-bottom .iqiyi-banner {
  position: relative;
  top: -21px;
  padding: 0 3px;
  font-size: 12px;
}
.video-bottom .banner {
  position: relative;
  top: -22px;
  /*margin: 0 2px;
  left: -2px;
  padding: 1px 5px;*/
  font-size: 12px;
  background: rgba(51, 51, 51, 0.64);
  /*clear: both;*/
  height: 18px;
  text-align: center;
}
.video-bottom .left-banner {
  float: left;
  /*padding-right: 40px;*/
}
.video-bottom .right-banner {
  float: right;
  padding-right: 3px;
}
.video-bottom .i-title {
  /*padding: 0px 2px;
  float: left;*/
  position: relative;
  bottom: 16px;
  text-align: center;
  /*width: 120px;*/
}
.video-bottom .ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 124px;
  white-space: nowrap;
}
.video-bottom .from {
  /*border-top: 1px dashed #7CB6F0;*/
  color: #DDD;
  font-style: italic;
  font-size: 12px;
  padding: 8px 19px;
}
/* page-view.css begin */

#page-box {
  float: right;
  margin: -26px 22px 0 0;
}
